@mixin graphic-icon($icon, $mask: true) {
	$value: url("../images/sprite.svg##{$icon}") no-repeat center / 100%;

	@if $mask {
		mask: $value;
	} @else {
		background: $value;
	}
}

@mixin graphic-retina($filename, $extname: "jpg") {
	background-image: url("../images/#{$filename}.webp");

	@include media-retina {
		background-image: url("../images/#{$filename}@2x.webp");
	}
}
