.heading {
  max-width: 720px;
  margin: 0 auto 32px;
  font-weight: 700;
  font-size: 30px;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;

  &-lead {
    margin-bottom: 38px;
  }
}
