<section class="search">
  <p class="heading">{{ lead }}</p>
  <p class="description">{{ text }}</p>
  <button class="button button-big search-link no-js-hidden" type="button" data-modal="search">
    {{ title }}
  </button>

  <div class="modal" data-modal="search">
    <div class="modal-inner">
      <h2 class="modal-heading">{{ title }}</h2>
      <button class="modal-closer no-js-hidden" type="button">
        <span class="visually-hidden">Закрыть окно.</span>
      </button>
      {% with form | setProp("cssMix", "modal-body") %}{% include "components/form/form.njk" %}{% endwith %}
    </div>
  </div>
</section>
