<div class="range {{ cssMix }}">
  {% for item in list %}
    <label class="range-group">
      <input
        class="range-field"
        name="{{ name }}"
        type="{{ type }}"
        value="{{ item.value }}"
        max="{{ max }}"
        min="{{ min }}"
        step="{{ step }}"
      />
      <span class="range-label range-label-{{ getContext('lang', true) }}">{{ item.title }}</span>
    </label>
  {% endfor %}

  <div class="range-slider-target no-js-hidden"></div>
</div>
