.checker {
  position: relative;
  width: 20px;
  height: 20px;
  color: inherit; /* Chrome */
  border-radius: 4px;
  appearance: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    transition: opacity 0.2s ease-in-out;
  }

  &::before {
    background-color: currentColor;
  }

  &::after {
    background-color: var(--color-cold-havy);
    mask-image: url("../images/sprite.min.svg#checkbox");
    opacity: 0;
  }

  &:focus-visible,
  &:hover::before {
    opacity: 0.6;
  }

  &:disabled::before {
    opacity: 0.3;
  }

  &:checked::after {
    opacity: 1;
  }

  &[type="radio"] {
    border-radius: 50%;

    &::after {
      mask-image: url("../images/sprite.min.svg#radio");
    }
  }
}
