.form-mini {
  display: flex;

  &-validable .form-mini-field:invalid {
    background-color: var(--color-contrast);
    border-color: var(--color-error);
  }
}

.form-mini-group {
  flex-grow: 1;
}

.form-mini-field {
  width: 100%;
  padding: 17px 20px 16px;
  line-height: 21px;
  background-color: var(--color-lite);
  border: 2px solid transparent;
  border-radius: 10px 0 0 10px;

  &:hover {
    background-color: var(--color-gray);
  }

  &:focus {
    background-color: var(--color-gray);
    outline: var(--focus-outline);
  }

  &::placeholder {
    opacity: 0.6;
  }
}

.form-mini-submit {
  min-width: 200px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 0 10px 10px 0;
}
