<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ projectName }} : {{ title }}
    </title>

    <link href="styles/styles.min.css" rel="stylesheet">
    {% if isDev %}
      <link href="styles/dev.min.css" rel="stylesheet">
    {% endif %}

    <link href="apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link type="image/png" href="favicon-32x32.png" rel="icon" sizes="32x32">
    <link type="image/png" href="favicon-16x16.png" rel="icon" sizes="16x16">
    <link href="site.webmanifest" rel="manifest">
    <link href="safari-pinned-tab.svg" color="#81b3d3" rel="mask-icon">
    <meta name="msapplication-tilecolor" content="#81b3d3">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="page centerer">
    {% with nav %}
      {% include 'components/nav/nav.njk' %}
    {% endwith %}

    <main>
      {% block main %}
        {% include 'components/main-header/main-header.njk' %}
      {% endblock %}
      {% with subscribe %}
        {% include 'components/subscribe/subscribe.njk' %}
      {% endwith %}
    </main>

    <footer class="page-footer">
      {% with contacts %}
        {% include 'components/contacts/contacts.njk' %}
      {% endwith %}
    </footer>

    {% if isDev %}
      <ul hidden>
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      <script src="scripts/dev.min.js"></script>
    {% endif %}
    <script>
      window.Data = {{ jsToPlace }};
    </script>
    <script src="scripts/scripts.min.js"></script>
  </body>
</html>
