.nav {
  position: relative;
  display: grid;
  grid-template-columns: 140px 3fr 2fr;
  gap: 45px;
  margin: 0 4rem -5px;
}

.nav-logo img {
  display: block; /* Чтобы на высоту лого не влиял строчный бокс */
}

.nav-pages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.nav-link {
  display: block;
  margin: 2px 34px 4px 0; /* Верхний маргин для красивого аутлайна, нижний для красивого переполнения */
  padding: 1rem 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-decoration: none;
  border-bottom: 2px solid transparent;

  &-current {
    border-bottom-color: var(--color-warm-lite);
  }
}

.nav-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 14px 0 0;
}

.nav-service {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px; /* Максимально возможные размеры для лучшего попадания с планшета */
  height: 37px;
  margin: 0 0 14px 5px;
  text-decoration: none;
  border-radius: 10px;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: currentColor;
  }

  &-search::before {
    mask-image: url("../images/sprite.min.svg#search");
  }

  &-favorite::before {
    mask-image: url("../images/sprite.min.svg#favorite");
  }
}

.nav-link,
.nav-service {
  &:hover {
    color: var(--color-warm-lite);
  }

  &:focus {
    color: initial;
  }

  &:active {
    color: var(--color-warm-lite-30);

    & .nav-notes {
      color: var(--color-contrast-30);
    }
  }
}

.nav-notes {
  position: absolute;
  top: 2px;
  right: -4px;
  min-width: 12px;
  padding: 3px 4px 4px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: var(--color-contrast);
  letter-spacing: -0.1em;
  background-color: var(--color-success);
  border-radius: 10px;
  transition: inherit;
}

.nav-button {
  display: block;
  min-width: 160px;
  margin: 0 0 14px 22px;
}
