.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item {
  position: relative;
  margin-top: 4px;
  padding-right: 16px;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 3px;
    width: 8px;
    height: 8px;
    background-color: currentColor;
    mask-image: url("../images/sprite.min.svg#arrow-right");
    opacity: 0.3;
  }

  &:first-child {
    margin-left: 2px; /* Выравнивание иконки домика по левому краю */
  }

  &:last-child {
    padding-right: 0;

    &::after {
      content: none;
    }
  }
}

.breadcrumbs-link {
  padding: 0 6px;
  text-decoration: none;
  border-radius: 4px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.breadcrumbs-root {
  position: relative;
  display: flex;
  width: 22px;
  height: 21px;
  padding: 0;

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    margin: auto;
    background-color: currentColor;
    mask-image: url("../images/sprite.min.svg#house-mini");
  }
}
