<ol class="breadcrumbs {{ cssMix }}">
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-link breadcrumbs-root" href="{{ nav.pages[0].url }}">
      <span class="visually-hidden">{{ nav.pages[0].title | punctify }}</span>
    </a>
  </li>
  <li class="breadcrumbs-item">
    <a class="breadcrumbs-link" href="{{ getContext('page', true) }}.html">{{ title }}</a>
  </li>
</ol>
