html {
  --color-base: #000000;
  --color-contrast: #ffffff;
  --color-contrast-30: rgba(255, 255, 255, 0.3);
  --color-base-60: rgba(0, 0, 0, 0.6);
  --color-base-40: rgba(0, 0, 0, 0.4);
  --color-base-30: rgba(0, 0, 0, 0.3);
  --color-base-25: rgba(0, 0, 0, 0.25);
  --color-base-20: rgba(0, 0, 0, 0.2);
  --color-base-15: rgba(0, 0, 0, 0.15);
  --color-base-10: rgba(0, 0, 0, 0.1);
  --color-dark: #333333;
  --color-dark-30: rgba(51, 51, 51, 0.3);
  --color-gray: #e6e6e6;
  --color-lite: #f2f2f2;
  --color-lite-80: rgba(242, 242, 242, 0.8);
  --color-warm-dark: #615048;
  --color-warm-lite: #756257;
  --color-warm-lite-30: rgba(117, 98, 87, 0.3);
  --color-neutral-dark: #6c9e42;
  --color-neutral-lite: #7db54f;
  --color-cold-havy: #3f5e72;
  --color-cold-dark: #68a2ca;
  --color-cold-lite: #83b3d3;
  --color-cold-lite-20: rgba(131, 179, 211, 0.2);
  --color-cold-lite-12: rgba(131, 179, 211, 0.12);
  --color-error: #ff5757;
  --color-error-dark: #bf3535;
  --color-warn: #fd922e;
  --color-success: #7db550;
  --focus-outline: 3px solid var(--color-cold-lite);

  min-width: 1440px;
  overflow-y: scroll;
  overflow-anchor: none;
  scroll-behavior: smooth;
  font-size: 18px;
  line-height: 1.16667;
  font-family: "PT Sans", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--color-lite);
}

body {
  margin: 0;
}

a,
button,
input,
select {
  font-family: inherit;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: color, opacity, background-color, border-color, box-shadow;

  &:disabled {
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration-skip-ink: none;
}

button {
  color: inherit;
  border: none;
}

/* По большей части эти свойства не нужны */
/* Списки для контентных блоков будут сделаны исходя из дизайна проекта */
ul,
ol {
  padding: 0;
  list-style: none;
}

input {
  box-sizing: border-box;
  font: inherit;
  border: none;
  -webkit-text-fill-color: currentColor;
  box-shadow: none;

  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &:-webkit-autofill {
    box-shadow: none;
  }

  &::placeholder {
    color: inherit;
    opacity: 0.6;
  }
}

img {
  max-width: 100%;
  object-fit: contain;
}

:focus {
  outline: var(--focus-outline);
  outline-offset: 0;

  @supports selector(:focus-visible) {
    outline: none;
  }
}

:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 0;
}
