html {
  --color-black: #000000;
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-dark: #333333;
  --color-gray: #e5e5e5;
  --color-lite: #f2f2f2;
  --color-lite-80: rgba(242, 242, 242, 0.8);
  --color-white: #ffffff;
  --color-warm-dark: #615048;
  --color-warm-lite: #756257;
  --color-neutral-dark: #6c9e42;
  --color-neutral-lite: #7db54f;
  --color-cold-dark: #68a2ca;
  --color-cold-lite: #83b3d3;
  --color-cold-lite-20: rgba(131, 179, 211, 0.2);
  --color-cold-lite-12: rgba(131, 179, 211, 0.12);
  --color-error: #ff5757;
  --color-warn: #fd922e;
  --color-success: #7db550;

  min-width: 320px;
  overflow-y: scroll;
  font-size: 18px;
  line-height: 1.16667;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: var(--color-gray);
}

body {
  margin: 0;
}

a,
button {
  color: inherit;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: color, opacity;

  &:focus-visible {
    outline: 2px solid var(--color-cold-dark);
  }
}

button {
  font-family: inherit;
  border: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

input {
  box-sizing: border-box;
  font: inherit;
  border: none;

  &:focus-visible {
    outline: 2px solid var(--color-cold-dark);
  }

  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &::placeholder {
    color: inherit;
    opacity: 0.6;
  }
}

img {
  max-width: 100%;
  object-fit: contain;
}
