.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-contrast);
  box-shadow: 0 0 15px var(--color-base-20);
}

.page-footer {
  margin-top: auto;
}
