<form class="form {{ cssMix }}" action="https://echo.htmlacademy.ru" method="post">
  {% for section in sections %}
    <fieldset class="form-section">
      <legend class="visually-hidden">{{ section.title | punctify }}</legend>
      {% for group in section.groups %}
        <p class="form-group {{ 'form-group-short' if section.counters }}">
          <label class="form-label" for="{{ group.id }}">
            {{ group.title | punctify(':') }}
          </label>

          {% if section.counters %}
            <button class="form-button form-button-step-down no-js-hidden" type="button">
              <span class="visually-hidden">{{ stepDownTitle | punctify }}</span>
            </button>
          {% endif %}
          <input
            class="form-field {{ 'form-field-counter' if section.counters }}"
            id="{{ group.id }}"
            name="{{ section.name }}"
            value="{{ group.value }}"
            placeholder="{{ group.placeholder }}"
            type="{{ 'number' if section.counters else 'text' }}"
            {{ 'pattern="' + group.pattern + '"' if group.pattern }}
            {{ 'aria-describedby=tooltip-' + group.id if group.tooltip }}
            {{ 'min=' + group.min if group.min }}
            {{ 'max=' + group.max if group.min }}
            {{ 'required' if group.required }}
          />
          {% if group.tooltip %}
            <span class="form-tooltip" aria-hidden="true">
              <span class="form-tooltip-content" role="tooltip" id="tooltip-{{ group.id }}">
                {{ group.tooltip }}
              </span>
            </span>
          {% endif %}

          {% if section.counters %}
            <button class="form-button form-button-step-up no-js-hidden" type="button">
              <span class="visually-hidden">{{ stepUpTitle | punctify }}</span>
            </button>
          {% else %}
            <span class="form-status"></span>

            {%if group.datepickerTitle %}
              <button class="form-button form-button-datepicker no-js-hidden" type="button">
                <span class="visually-hidden">{{ group.datepickerTitle | punctify }}</span>
              </button>
            {% endif %}
          {% endif %}
        </p>
      {% endfor %}
    </fieldset>
  {% endfor %}

  <button class="form-submit button button-big button-secondary" type="submit">
    {{ submitTitle }}
  </button>
</form>
