<form class="form {{ cssMix }}" action="https://echo.htmlacademy.ru" method="post">
  <fieldset class="form-section">
    <legend class="visually-hidden">Даты заезда и выезда.</legend>
    <p class="form-group">
      <label class="form-label" for="date-from">Дата заезда:</label>
      <input class="form-field" id="date-from" name="dates[]" value="27 апреля 2020" required>
      <span class="form-status form-status-error">Мы не можем отправить вас в прошлое.</span>
      <button class="form-control form-control-datepicker" type="button">
        <span class="visually-hidden">Выбрать дату.</span>
      </button>
    </p>
    <p class="form-group">
      <label class="form-label" for="date-to">Дата выезда:</label>
      <input class="form-field" id="date-to" name="dates[]" value="1 сентября 2021" required>
      <span class="form-status">На эти даты есть свободные номера. Пока есть.</span>
      <button class="form-control form-control-datepicker" type="button">
        <span class="visually-hidden">Выбрать дату.</span>
      </button>
    </p>
  </fieldset>
  <fieldset class="form-section form-section-counters">
    <legend class="visually-hidden">Количество человек.</legend>
    <p class="form-group form-group-counter">
      <label class="form-label" for="count-adults">Взрослые:</label>
      <button class="form-control form-control-step-down" type="button">
        <span class="visually-hidden">Меньше.</span>
      </button>
      <input class="form-field form-field-counter" id="count-adults" name="count[]" type="number" value="2" min="1" required>
      <button class="form-control form-control-step-up" type="button">
        <span class="visually-hidden">Больше.</span>
      </button>
    </p>
    <p class="form-group form-group-counter">
      <label class="form-label" for="count-children">
        Дети:
        <span class="form-tooltip tooltip" tabindex="0">
          <span class="tooltip-content">
            Укажите количество детей, которые будут с вами, возраст которых от 6 до 18 лет. Дети до 6 лет размещаются бесплатно.
          </span>
        </span>
      </label>
      <button class="form-control form-control-step-down" type="button">
        <span class="visually-hidden">Меньше.</span>
      </button>
      <input class="form-field form-field-counter" id="count-children" name="count[]" type="number" value="1" min="1" required>
      <button class="form-control form-control-step-up" type="button">
        <span class="visually-hidden">Больше.</span>
      </button>
    </p>
    <button class="form-submit btn btn-primary" type="submit">Найти</button>
  </fieldset>
</form>
