.good {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  box-sizing: border-box;
  padding: 20px;
}

.good-mainlink {
  display: flex;
  flex-direction: column-reverse;
  grid-column: 1 / -1;
  font-weight: 700;
  text-decoration: none;
  outline: none;

  &:hover .good-image {
    opacity: 0.6;
  }

  &:focus-within .good-image {
    outline: 3px solid var(--color-cold-lite);
    opacity: 1;
  }

  &:active .good-image {
    opacity: 0.3;
  }
}

.good-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.good-image {
  margin: 0 0 17px;
  transition: inherit;
}

.good-text {
  margin: 0;
  line-height: 21px;
  color: var(--color-dark);
}

.good-button-secondary {
  &:hover,
  &:active {
    outline: 1px solid var(--color-warm-lite);
    outline-offset: -1px;
  }
}

.good-star-rating {
  align-self: center;
  width: 22px;
  height: 20px;
  margin: 0;
  background-color: var(--color-cold-lite);
  mask-image: url("../images/sprite.min.svg#star");
  mask-size: 24px 20px;
  mask-position: -2px 1px;

  &-2 {
    width: 46px;
  }

  &-3 {
    width: 70px;
  }

  &-4 {
    width: 94px;
  }

  &-5 {
    width: 118px;
  }
}

.good-rating {
  margin: 0;
  padding: 9px 12px 7px;
  font-size: 16px;
  line-height: 1.294;
  text-align: center;
  color: var(--color-dark);
  text-transform: uppercase;
  background-color: var(--color-lite);
  border-radius: 4px;
}
