<{{ tag }} class="good {{ cssMix }}">
  <a class="good-mainlink" href="{{ links[0].url }}">
    <h3 class="good-title">{{ title }}</h3>

    {% with image | setProp('class', 'good-image') %}
      {% include 'components/picture/picture.njk' %}
    {% endwith %}
  </a>

  <p class="good-text">{{ type }}</p>
  <p class="good-text">{{ price }}</p>

  {% for link in links %}
    <a
      class="good-button button {{ 'button-' + link.type + ' good-button-' + link.type if link.type }}"
      href="{{ link.url }}"
    >
      {{ link.title }}
    </a>
  {% endfor %}

  <p class="good-star-rating good-star-rating-{{ starRating }}">
    <span class="visually-hidden">
      {{ starRatingTitle | punctify(':') }} {{ starRating }}
    </span>
  </p>
  <p class="good-rating">{{ ratingTitle | punctify(':') }} {{ rating }}</p>
</{{ tag }}>
