.main-header {
  padding: 35px 4rem 27px;
}

.main-header-heading {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.main-header-breadcrumbs {
  margin: 5px 0 0 -6px; /* Компенсация отталкивания нижних рядов по вертикали и фокусных отступов по горизонтали */
}
