.select {
  position: relative;
  box-sizing: border-box;
  padding: 12px 50px 12px 18px;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-dark);
  background-color: transparent;
  background-image: url("../images/sprite.min.svg#arrow-down");
  background-repeat: no-repeat;
  background-position: top 12px right 12px;
  background-size: 20px;
  border: 2px solid var(--color-gray);
  border-radius: 4px;
  outline: none;
  appearance: none;

  &:hover,
  &:focus-visible {
    border-color: var(--color-cold-lite);
  }

  &:active {
    color: var(--color-black);
    border-color: var(--color-cold-heavy);
  }

  &:disabled {
    color: var(--color-black);
    border-color: currentColor;
    opacity: 0.3;
  }
}
