.social {
  display: flex;
  flex-wrap: wrap;
  margin: 18px 0;
}

.social-link {
  display: block;
  margin-left: -1px; /* PP */
  color: var(--color-cold-lite);
  border-radius: 10px;

  &::before {
    content: "";
    display: block;
    width: 48px;
    height: 40px;
    background-color: currentColor;
    mask-size: 100%;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--color-cold-dark);
  }

  &:active {
    opacity: 0.3;
  }

  &-vk::before {
    mask-image: url("../images/sprite.min.svg#social-vk");
  }

  &-telegram::before {
    mask-image: url("../images/sprite.min.svg#social-telegram");
  }

  &-youtube::before {
    mask-image: url("../images/sprite.min.svg#social-youtube");
  }
}
