.social {
  display: flex;
  margin: -14px 0 0 -18px; /* Смещение влево учитывает компенсацию пустого места в левой части иконок */
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  margin: 10px 0 0 10px;
  color: var(--color-cold-lite);
  border-radius: 10px;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: currentColor;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--color-cold-dark);
  }

  &:active {
    opacity: 0.3;
  }

  &-facebook::before {
    mask-image: url("../images/sprite.min.svg#social-facebook");
  }

  &-twitter::before {
    mask-image: url("../images/sprite.min.svg#social-twitter");
  }

  &-youtube::before {
    mask-image: url("../images/sprite.min.svg#social-youtube");
  }
}
