.social {
  display: flex;
  margin: 0 0 -24px 0;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 24px 24px 0;
  background-color: var(--color-cold-lite);

  &-facebook {
    mask-image: url("../images/sprite.min.svg#social-facebook");
  }

  &-twitter {
    mask-image: url("../images/sprite.min.svg#social-twitter");
  }

  &-youtube {
    mask-image: url("../images/sprite.min.svg#social-youtube");
  }
}
