.subscribe {
  padding: 28px 72px 140px;

  &-accent {
    padding-top: 92px;
    padding-bottom: 94px;
    color: #ffffff;
    background-color: var(--color-cold-lite);
    background-image: url("../images/bg-subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    & .subscribe-description {
      margin-top: 0;
      color: inherit;
    }
  }
}

.subscribe-description {
  margin-top: 46px;
}

.subscribe-form {
  max-width: 800px;
  margin: 46px auto 0;
}
