.subscribe {
  padding: 63px 72px 94px;

  &-accent {
    padding-top: 92px;
    padding-bottom: 94px;
    color: #ffffff;
    background-color: var(--color-warm-lite);
    background-image: url("../images/bg-subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    & .subscribe-description {
      color: inherit;
    }
  }
}

.subscribe-form {
  max-width: 800px;
  margin: 44px auto 0;
}
