<section class="subscribe {{ 'subscribe-accent' if accent }}">
  <h2 class="heading subscribe-heading">{{ heading }}</h2>
  <p class="subscribe-description description">{{ description }}</p>

  {% set cssMix = "subscribe-form" %}
  {% set fieldType = "email" %}
  {% include "components/form-mini/form-mini.njk" %}
</section>
