.contacts {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
  padding: 40px 72px;
}

.contacts-tel {
  font-size: 40px;
  line-height: 1;
  text-decoration: none;
}

.contacts-logo {
  justify-self: end;

  & img {
    display: block;
  }
}
