.contacts {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  gap: 2rem;
  padding: 25px 4rem;
}

.contacts-link {
  padding: 15px;
  font-size: 40px;
  line-height: 1;
  text-decoration: none;
  border-radius: 10px;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-warm-lite);
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts-logo {
  position: relative;
  left: 15px; /* Компенсация паддинга обводки */
  justify-self: end;

  &::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    bottom: 18px;
    left: 15px;
    background-color: currentColor;
    mask-image: url("../images/logo-dev.svg");
    pointer-events: none;
  }

  & img {
    display: block;
    margin: 3px 0;
    opacity: 0;
  }
}
