<section class="contacts">
  <h2 class="visually-hidden">{{ title | punctify }}</h2>

  {% with social %}{% include "components/social/social.njk" %}{% endwith %}

  <a class="contacts-link" href="tel:{{ tel | numberize }}">{{ tel }}</a>

  {% with dev %}
    <a class="contacts-link contacts-logo" href="{{ url }}">
      <img src="{{ logo }}" alt="{{ title | punctify }}" width="{{ width }}" height="{{ height }}">
    </a>
  {% endwith %}
</section>
